<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "static/login/style.css" %}' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <p>Home Test</p>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/forgot_password">Lupa Sandi</a></li>
    </ul>
</body>
</html>